* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background-color: black;
}

.loading {
  /* border-color: #845ec2; */
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background-color: #fff;
  mix-blend-mode: difference;
  animation: move 4s linear infinite;
}

.loading span {
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1;
}

@keyframes move {
  0%,
  100% {
    left: 0%;
  }

  50% {
    left: calc(100% - 100px);
  }
}
